
<div class="row">
    <div class="content-wrapper-before gradient-45deg-green-teal gradient-shadow"></div>
    <div class="col s12">
        <div class="container">
            <!-- invoice list -->
            <section class="invoice-list-wrapper section">
                <!-- create invoice button-->
                <!-- Options and filter dropdown button-->
                <!-- create invoice button-->
                <h3>Grupos</h3><br><br><br>
                <div class="row">
                    <div class="container">
                        <div class="col s4">
                            <select id="valor_grupo_modificar">
                                <option value="-1" disabled selected>Elegir grupo</option>
                                {{#each grupos}}
                                <option value="{{id_gru}}">{{nom_gru}}</option>
                                {{/each}}
                            </select>
                            
                        </div>
                        <div class="col s6">
                            <select id="profesor_grupo_modificar">
                                <option value="-1" disabled selected>Modificar profesor</option>
                                {{#each profesores}}
                                <option value="{{id_usu}}">{{nom_usu}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="col s2">
                            <button class="btn waves-effect deep-purple accent-1" onclick="
                            cambiarProfesorGrupo(document.getElementById('profesor_grupo_modificar').value, document.getElementById('valor_grupo_modificar').value)">
                            Aceptar</button>
                        </div>
                    </div>
                </div>
                <div class="responsive-table">
                    <div class="dataTables_wrapper no-footer">
                        <div class="top display-flex mb-2">
                            <div class="action-filters">
                                <div class="dataTables_filter">
                                    <label>
                                        <input type="search"
                                            placeholder="Buscar"
                                            id="busqueda_grupo"
                                            onkeyup="barraBusqueda('busqueda_grupo','tabla_grupos');">
                                    </label>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <table class="responsive-table highlight">
                    <thead>
                        <tr>
                            <td>Grupo</td>
                            <td>Clave de acceso</td>
                            <td>Profesor</td>
                            <td colspan="3">Acciones</td>
                        </tr>
                    </thead>
                    <tbody id="tabla_grupos">
                        {{#each grupos}}
                        <tr>
                            <td>{{nom_gru}}</td>
                            <td contenteditable="true" id="clave{{id_gru}}">{{cla_gru}}</td>
                            <td>{{prof_gru}}</td>
                            <td>
                                <a href="javascript:void(0);" onclick="modificarClaveGrupo({{id_gru}}, document.getElementById('clave{{id_gru}}').innerText);" class="waves-effect waves-teal btn-flat">Modificar clave</a>
                            </td>
                            <td>
                                <a href="javascript:void(0);" onclick="deleteTeacherGroup({{id_gru}});" class="waves-effect waves-teal btn-flat">Quitar profesor</a>
                            </td>
                            <td>
                                <a href="#tabla_alumnos" onclick="mostrarAlumnos({{id_gru}});" class="waves-effect waves-teal btn-flat">Ver alumnado</a>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table><br>
                <h4>Alumnos</h4>
                <div class="responsive-table">
                    <div class="dataTables_wrapper no-footer">
                        <div class="top display-flex mb-2">
                            <div class="action-filters">
                                <div class="dataTables_filter">
                                    <label>
                                        <input type="search"
                                            placeholder="Buscar"
                                            id="busqueda_alumno"
                                            onkeyup="barraBusqueda('busqueda_alumno','tabla_alumnos');">
                                    </label>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <table class="responsive-table highlight">
                    <thead>
                        <tr>
                            <td># Alumno</td>
                            <td>Nombre de alumno</td>
                            <td>Acciones</td>
                        </tr>
                    </thead>
                    <tbody id="tabla_alumnos">
                        
                    </tbody>
                </table>
            </section>
            
        </div>
        <div class="content-overlay"></div>
    </div>
</div>