<link rel="stylesheet" href="/mathquill/mathquill.css"/>
<link rel="stylesheet" type="text/css"
    href="/app-assets/css/pages/app-file-manager.min.css">
<style>
 .fontt{ 
      width: 100%;
      height: 10px;
      background-color: rgb(85, 27, 160); 
    }


.correcta{
color: #1daa0a;
}
.incorrecta{
color: #FF0000;
}
</style>

<div class="row">
    <div class="content-wrapper-before blue-grey lighten-5"></div>
    <div class="col s12">
        <div class="container">
            <div class="col s12 m6 l8">
      <div id="placeholder" class="card card card-default scrollspy" >
        <div class="card-content"> 
          <h4 class="center">{{nom_cue}}</h4>
          <div class="fontt"></div>

            {{#each qf}}
            {{#if correct}}         
            <div>
                <p class="correcta">Respuesta Correcta</p>
              <div class="input-field col s12" style="margin-bottom: 0px;">
                  <p class="flow-text"><h5 class="card-title"><span class="mathquillEstatic">{{con_pre}}</span></h5>
                <span id='math-field-pregunta' style="width: 100%; min-height:40px; margin-bottom: 0px;"></span></p>
              </div> 
            </div>
            <div class="row center">
              <div class="col s10">
              <p>
                <label>
                  <input class="with-gap correct" name="group{{id_bpr}}" type="radio" value="a" disabled="disabled"
                  {{#if a}}checked{{/if}}/>
                  <span class="left"><span class="mathquillEstatic"> a) {{opc_a}}</span></span>
                </label>
              </p>
              <p>
                <label>
                  <input class="with-gap correct" name="group{{id_bpr}}" type="radio" value="b" disabled="disabled"
                  {{#if b}}checked{{/if}} />
                  <span class="right"><span class="mathquillEstatic"> b) {{opc_b}}</span></span>
                </label>
              </p>
              </div>
              <div class="col s10">
              <p>
                <label>
                  <input class="with-gap correct" name="group{{id_bpr}}" type="radio" value="c" disabled="disabled"
                  {{#if c}}checked{{/if}}/>
                  <span class="left"><span class="mathquillEstatic"> c) {{opc_c}}</span></span>
                </label>
              </p>
              <p>
                <label>
                  <input class="with-gap correct" name="group{{id_bpr}}" type="radio" value="d" disabled="disabled"
                  {{#if d}}checked{{/if}}/>
                  <span class="right"><span class="mathquillEstatic"> d) {{opc_d}}</span></span>
                </label>
              </p>
              </div>      
            </div>
            {{else}}
              <div>
                <p class="incorrecta">Respuesta Incorrecta</p>
              <div class="input-field col s12" style="margin-bottom: 0px;">
                  <p class="flow-text"><h5 class="card-title"><span class="mathquillEstatic">{{con_pre}}</span></h5>
                <span id='math-field-pregunta' style="width: 100%; min-height:40px; margin-bottom: 0px;"></span></p>
              </div> 
            </div>
            <div class="row center">
              <div class="col s10">
              <p>
                <label>
                  <input class="with-gap incorrect" name="group{{id_bpr}}" type="radio" value="a" disabled="disabled"
                  {{#if a}}checked{{/if}}/>
                  <span class="left"><span class="mathquillEstatic"> a) {{opc_a}}</span></span>
                </label>
              </p>
              <p>
                <label>
                  <input class="with-gap incorrect" name="group{{id_bpr}}" type="radio" value="b" disabled="disabled"
                  {{#if b}}checked{{/if}} />
                  <span class="right"><span class="mathquillEstatic"> b) {{opc_b}}</span></span>
                </label>
              </p>
              </div>
              <div class="col s10">
              <p>
                <label>
                  <input class="with-gap incorrect" name="group{{id_bpr}}" type="radio" value="c" disabled="disabled"
                  {{#if c}}checked{{/if}} />
                  <span class="left"><span class="mathquillEstatic"> c) {{opc_c}}</span></span>
                </label>
              </p>
              <p>
                <label>
                  <input class="with-gap incorrect" name="group{{id_bpr}}" type="radio" value="d" disabled="disabled"
                  {{#if d}}checked{{/if}} />
                  <span class="right"><span class="mathquillEstatic"> d) {{opc_d}}</span></span>
                </label>
              </p>
              </div>      
            </div>
            {{/if}}
            {{/each}}
            <br>
        <a class="waves-effect waves-light btn" href="/web/Quizz"><i class="material-icons right">send</i>Aceptar</a>
        </div>
      </div>
  </div>
  
  </div>

    </div>

</div>l 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="/mathquill/mathquill.js"></script>
<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
<script>
Handlebars.registerHelper('ifEquals', function(arg1, arg2, options) {
    return (arg1 == arg2) ? options.fn(this) : options.inverse(this);
});
var MQ = MathQuill.getInterface(2); 
let contenidoPregunta = document.getElementsByClassName('mathquillEstatic');
for(let index = 0; index < contenidoPregunta.length; index++) {
  console.log("bJHsgjhv")
    MQ.StaticMath(contenidoPregunta.item(index));
}
</script>