	<style>
.scroll {
display:block;
height:520px;
overflow:auto;
}
.scroll2{
  display:block;
height:250px;
overflow:auto;
}
</style>
<section class="container">
  <div clas="row">
				<div class="row">
					<div class="col s12 m7 l6 scroll">
						<div class="row">
							<div class="signup-box">
								<div id="quizz" class="quizz">
                <h3>Creación de cuestionario</h3>
                <h5>Selecciona los grupos</h5> 

      <ul class="collection">
        {{#each grupos}}
    <li class="collection-item avatar">
      
      <span class="title">GRUPO: {{nom_gru}}</span>
     
      <a id="check{{id_gru}}" onclick="añadir2({{id_gru}})" class="secondary-content"><i class="material-icons" id="icongru{{id_gru}}">check_box_outline_blank
        
</i></a>
    </li>
    {{/each}}
  </ul>  


<h6>Filtrar preguntas</h6>
    <form name="broswequestion" id="broswequestion" method="POST" action="/web/preguntasx">
        <label>Dificultades:</label>
       
        <select id="broswdif">
          <option value="all">Todas las dificultades</option>
          <option value="1">Fácil</option>
          <option value="2">Medio</option>   
           <option value="3">Díficil</option>      
        </select>
        <br>
        <label>Temas:</label>
       
        <select id="broswtem">
          <option value="all">Todos los temas</option>
          {{#each preguntas}}
          <option value="{{id_tem}}">{{nom_tem}}</option>
          {{/each}}
        </select>
      <button class="btn waves-effect waves-light"
         type="submit" name="sendbrows">Buscar
          <i class="material-icons right">send</i>
     </button>
</form>
  <h5>Selecciona las preguntas</h5> 
  <div class="item" id="preguntasx">
    <ul class="collection" id="insertQ">
        {{#each preguntas}}

        <li class="collection-item avatar" id="li{{id_bpr}}">
      
      <span class=""><span class="mathquillEstatic">{{con_pre}}</span></span>
      <a id="check{{id_bpr}}" onclick="añadir({{id_bpr}})" class="secondary-content"><i class="material-icons" id="icon{{id_bpr}}">check_box_outline_blank
                                                                                     </i></a>
      </li>
     
    {{/each}}
  </ul>  
 </div>  
         
							</div>   
						</div>
					</div>
				</div>
        <div class="row s12 m7 l6">
           Preguntas seleccionadas: 
            <div class="row scroll2"> 
            <ul class="collection" id="formContainer">
            </ul>
            </br>
            </br>
         
            </div>
         <form name="preguntas" id="preguntas" method="POST" action="/web/AddQuizz">
                  <input type="text" id="nombre" name="nombre" class="input-field col s6">
                   <label for="nombre">Escriba un nombre para el cuestionario</label>
                <br> <br> <br> 
                  <input type="date" id="date" name="date" class="input-field col s6">
                   <label for="date">    Escriba la fecha límite del cuestionario</label>
                    <br> <br> <br>
                   <button class="btn waves-effect waves-light indigo lighten-1" type="submit" name="action" >Agregar<i class="material-icons right">send</i></button>
            </form>
                  <p id="avisos"></p>

        </div>
		</div>
	</div>
   
<script>
    
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems, options);
  });
</script>


<script>
    function añadir(id){
        let att=document.getElementById('icon'+id);
        let form=document.getElementById('preguntas'); 
        if(att.innerText!="check_box"){
          att.innerText="check_box";
          att.value=true;
          let element = document.createElement("li");
          element.className = "collection-item avatar";
          element.id = "List"+id; 
          element.innerHTML = document.getElementById("li"+id).innerHTML; 
          document.getElementById("formContainer").appendChild(element);
          form.innerHTML+="<input id='element"+id+"' type='hidden' value='"+id+"' readonly name='element'></input>";
        }else{
          att.innerText="check_box_outline_blank";
          var item = document.getElementById("List"+id);
          console.log(item)
          item.parentNode.removeChild(item)
          document.getElementById('element'+id).remove(); 

        }
    }
    function añadir2(id){
        let att=document.getElementById('icongru'+id);
        let form=document.getElementById('preguntas'); 
        if(att.innerText!="check_box"){
          att.innerText="check_box";
          att.value=true;
          form.innerHTML+="<input id='group"+id+"' type='hidden' value='"+id+"' readonly name='group'></input>";
        }else{
          att.innerText="check_box_outline_blank";
          document.getElementById('group'+id).remove(); 

        }
    }
    
</script>
{{res_cor}}<br>
{{nom_tem}}<br>
{{cat_dif}}<br>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
$(function(){
    $('#broswequestion').on('submit', function (e){
	  e.preventDefault();
        $.ajax({
            url:'/web/preguntasx',
		method:'POST',
		data:{
			id_tema:$('#broswtem').val(),
			id_dif:$('#broswdif').val()
			},
      success:function(questions){
            document.getElementById('insertQ').innerHTML = "";
            questions.forEach(id=>{
              let html = `<li class='collection-item avatar' id="li${id.id_bpr}">\n
                <span class="title">${id.con_pre}</span>
                <a id="check{{id_bpr}}" onclick="añadir(${id.id_bpr})" class="secondary-content"><i class="material-icons" id="icon${id.id_bpr}">${'check_box_outline_blank'}
                                                                                     </i></a>
               </li>
              `  
               document.getElementById('insertQ').innerHTML += html;
            }); 
         
      }
        })
    })
});
 
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="/mathquill/mathquill.js"></script>
<script>
var MQ = MathQuill.getInterface(2); // for backcompat

let contenidoPregunta = document.getElementsByClassName('mathquillEstatic');
for(let index = 0; index < contenidoPregunta.length; index++) {
    MQ.StaticMath(contenidoPregunta.item(index));
}
let esconder = document.getElementsByClassName('mq-selectable');
for(let index = 0; index < esconder.length; index++) {
    esconder.item(index).innerHTML = "";
}
</script>