

<!-- Inicio chido -->
<div class="div" onload="">
<div class="hide">
  <a class="waves-effect waves-light btn modal-trigger" id="hidem2" href="#modal1" onclick="setTimeout(carga,2000);">Modal</a>
</div>

  
  <div id="modal1" class="modal " style="padding-top: 12 rem;">
      <div class="center" >
 Añadiendo pregunta...
    <div class="modal-content">
      <div class="preloader-wrapper big active">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
      </div>
     
  </div>

  <div class="hide">
   <a href="#!" id="hidem" class="modal-close waves-effect waves-green btn-flat">Agree</a>
  </div>
 </div>
    
    
  </div>




<link rel="stylesheet" href="/mathquill/mathquill.css"/>
<link rel="stylesheet" type="text/css"
    href="/app-assets/css/pages/app-file-manager.min.css">
<div class="row">
    <div class="content-wrapper-before blue-grey lighten-5"></div>
    <div class="col s12">
        <div class="container">
            <div class="col s12 m6 l6">
      <div id="placeholder" class="card card card-default scrollspy">
        <div class="card-content">
          <h4 class="card-title">Insertar pregunta</h4>
         <!-- <form name="questions" id="questions" method="POST" action="/web/Addquestion">-->
                {{#if sesionAd}}
                <div class="row">
              <div class="input-field col s12" style="margin-bottom: 0px;">
                  <p>Pregunta: 
                <span  id='math-field-pregunta' style="width: 100%; min-height:40px; margin-bottom: 0px;"></span></p>
              </div>
              <div class="input-field col s12" style="margin-top: 0px;">
                  <input id="latex-pregunta" type="text" name="pregunta" readonly>
              </div>
              <b><span style="color:#FF0000" class="label-input100" id="apre"></span></b>
              <ul class="collapsible">
                        <div class="collapsible-header"><i class="material-icons">keyboard</i></div>
                        <div class="collapsible-body text-reset">
                            <a class="btn waves-effect green lighten-1" id="btn_formula_sqrt" onclick="mathField.cmd('\\sqrt');
                            mathField.focus();" style="width: 90px;">√</a>
                            <a class="btn waves-effect green lighten-1" id="btn_formula_pm" onclick="mathField.cmd('\\pm');
                            mathField.focus();" style="width: 90px;">∓</a>
                            <a class="btn waves-effect green lighten-1" id="btn_formula_mp" onclick="mathField.cmd('\\mp');
                            mathField.focus();" style="width: 90px;">±</a>
                            <a class="btn waves-effect green lighten-1" id="btn_formula_frac" onclick="mathField.cmd('\\frac');
                            mathField.focus();" style="width: 90px;">x/x</a>
                            <a class="btn waves-effect green lighten-1" id="btn_formula_pot" onclick="mathField.cmd('^');
                            mathField.focus();" style="width: 90px;">^</a>
                            <a class="btn waves-effect green lighten-1" id="btn_formula_pot" onclick="mathField.cmd('\\cdot');
                            mathField.focus();" style="width: 90px;">*</a>
                        </div>
                    </li>
                </ul>
                
            </div>
            <div class="row">
              <div class="input-field col s12" style="margin-bottom: 0px;">
                  <p>Opción A: 
                <span  id='math-field-opcA' style="width: 100%; min-height:40px; margin-bottom: 0px;"></span></p>
              </div>
              <div class="input-field col s12" style="margin-top: 0px;">
                  <input id="latex-opcA" type="text" name="a" readonly>
              </div>
              <b><span style="color:#FF0000"class="label-input100" id="aopc_a"></span></b>
              <ul class="collapsible">
                    <li>
                        <div class="collapsible-header"><i class="material-icons">keyboard</i></div>
                        <div class="collapsible-body text-reset">
                            <a class="btn waves-effect green lighten-1" id="btn_formula_sqrt" onclick="mathField_opcA.cmd('\\sqrt');
                            mathField_opcA.focus();" style="width: 90px;">√</a>
                            <a class="btn waves-effect green lighten-1" id="btn_formula_pm" onclick="mathField_opcA.cmd('\\pm');
                            mathField_opcA.focus();" style="width: 90px;">∓</a>
                            <a class="btn waves-effect green lighten-1" id="btn_formula_mp" onclick="mathField_opcA.cmd('\\mp');
                            mathField_opcA.focus();" style="width: 90px;">±</a>
                            <a class="btn waves-effect green lighten-1" id="btn_formula_frac" onclick="mathField_opcA.cmd('\\frac');
                            mathField_opcA.focus();" style="width: 90px;">x/x</a>
                            <a class="btn waves-effect green lighten-1" id="btn_formula_pot" onclick="mathField_opcA.cmd('^');
                            mathField_opcA.focus();" style="width: 90px;">^</a>
                            <a class="btn waves-effect green lighten-1" id="btn_formula_pot" onclick="mathField_opcA.cmd('\\cdot');
                            mathField_opcA.focus();" style="width: 90px;">*</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="row">
              <div class="input-field col s12" style="margin-bottom: 0px;">
                  <p>Opción B: 
                <span id='math-field-opcB' style="width: 100%; min-height:40px; margin-bottom: 0px;"></span></p>
              </div>
              <div class="input-field col s12" style="margin-top: 0px;">
                  <input id="latex-opcB" type="text" name="b" readonly>
              </div>
              <b><span style="color:#FF0000" class="label-input100" id="aopc_b"></span></b>
              <ul class="collapsible">
                    <li>
                        <div class="collapsible-header"><i class="material-icons">keyboard</i></div>
                        <div class="collapsible-body text-reset">
                            <a class="btn waves-effect green lighten-1" id="btn_formula_sqrt" onclick="mathField_opcB.cmd('\\sqrt');
                            mathField_opcB.focus();" style="width: 90px;">√</a>
                            <a class="btn waves-effect green lighten-1" id="btn_formula_pm" onclick="mathField_opcB.cmd('\\pm');
                            mathField_opcB.focus();" style="width: 90px;">∓</a>
                            <a class="btn waves-effect green lighten-1" id="btn_formula_mp" onclick="mathField_opcB.cmd('\\mp');
                            mathField_opcB.focus();" style="width: 90px;">±</a>
                            <a class="btn waves-effect green lighten-1" id="btn_formula_frac" onclick="mathField_opcB.cmd('\\frac');
                            mathField_opcB.focus();" style="width: 90px;">x/x</a>
                            <a class="btn waves-effect green lighten-1" id="btn_formula_pot" onclick="mathField_opcB.cmd('^');
                            mathField_opcB.focus();" style="width: 90px;">^</a>
                            <a class="btn waves-effect green lighten-1" id="btn_formula_pot" onclick="mathField_opcB.cmd('\\cdot');
                            mathField_opcB.focus();" style="width: 90px;">*</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="row">
              <div class="input-field col s12" style="margin-bottom: 0px;">
                  <p>Opción C: 
                <span id='math-field-opcC' style="width: 100%; min-height:40px; margin-bottom: 0px;"></span></p>
              </div>
              <div class="input-field col s12" style="margin-top: 0px;">
                  <input id="latex-opcC" type="text" name="c" readonly>
              </div>
              <b><span style="color:#FF0000" class="label-input100" id="aopc_c"></span></b>
              <ul class="collapsible">
                    <li>
                        <div class="collapsible-header"><i class="material-icons">keyboard</i></div>
                        <div class="collapsible-body text-reset">
                            <a class="btn waves-effect green lighten-1" id="btn_formula_sqrt" onclick="mathField_opcC.cmd('\\sqrt');
                            mathField_opcC.focus();" style="width: 90px;">√</a>
                            <a class="btn waves-effect green lighten-1" id="btn_formula_pm" onclick="mathField_opcC.cmd('\\pm');
                            mathField_opcC.focus();" style="width: 90px;">∓</a>
                            <a class="btn waves-effect green lighten-1" id="btn_formula_mp" onclick="mathField_opcC.cmd('\\mp');
                            mathField_opcC.focus();" style="width: 90px;">±</a>
                            <a class="btn waves-effect green lighten-1" id="btn_formula_frac" onclick="mathField_opcC.cmd('\\frac');
                            mathField_opcC.focus();" style="width: 90px;">x/x</a>
                            <a class="btn waves-effect green lighten-1" id="btn_formula_pot" onclick="mathField_opcC.cmd('^');
                            mathField_opcC.focus();" style="width: 90px;">^</a>
                            <a class="btn waves-effect green lighten-1" id="btn_formula_pot" onclick="mathField_opcC.cmd('\\cdot');
                            mathField_opcC.focus();" style="width: 90px;">*</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="row">
              <div class="input-field col s12" style="margin-bottom: 0px;">
                  <p>Opción D: 
                <span id='math-field-opcD' style="width: 100%; min-height:40px; margin-bottom: 0px;"></span></p>
              </div>
              <div class="input-field col s12" style="margin-top: 0px;">
                  <input id="latex-opcD" type="text" name="d" readonly>
              </div>
              <b><span style="color:#FF0000" class="label-input100" id="aopc_d"></span></b>
              <ul class="collapsible">
                    <li>
                        <div class="collapsible-header"><i class="material-icons">keyboard</i></div>
                        <div class="collapsible-body text-reset">
                            <a class="btn waves-effect green lighten-1" id="btn_formula_sqrt" onclick="mathField_opcD.cmd('\\sqrt');
                            mathField_opcD.focus();" style="width: 90px;">√</a>
                            <a class="btn waves-effect green lighten-1" id="btn_formula_pm" onclick="mathField_opcD.cmd('\\pm');
                            mathField_opcD.focus();" style="width: 90px;">∓</a>
                            <a class="btn waves-effect green lighten-1" id="btn_formula_mp" onclick="mathField_opcD.cmd('\\mp');
                            mathField_opcD.focus();" style="width: 90px;">±</a>
                            <a class="btn waves-effect green lighten-1" id="btn_formula_frac" onclick="mathField_opcD.cmd('\\frac');
                            mathField_opcD.focus();" style="width: 90px;">x/x</a>
                            <a class="btn waves-effect green lighten-1" id="btn_formula_pot" onclick="mathField_opcD.cmd('^');
                            mathField_opcD.focus();" style="width: 90px;">^</a>
                            <a class="btn waves-effect green lighten-1" id="btn_formula_pot" onclick="mathField_opcD.cmd('\\cdot');
                            mathField_opcD.focus();" style="width: 90px;">*</a>
                        </div>
                    </li>
                </ul>
            </div>
                {{else if sesionP}}
                    <div class="row">
              <div class="input-field col s12" style="margin-bottom: 0px;">
                  <p>Pregunta: 
                <span id='math-field-pregunta' style="width: 100%; min-height:40px; margin-bottom: 0px;"></span></p>
              </div>
              <div class="input-field col s12" style="margin-top: 0px;">
                  <input id="latex-pregunta" type="text" name="pregunta" readonly>
              </div>
              <b><span style="color:#FF0000" class="label-input100" id="apre"></span></b>
              <ul class="collapsible">
                    <li>
                        <div class="collapsible-header"><i class="material-icons">keyboard</i></div>
                        <div class="collapsible-body text-reset">
                            <a class="btn waves-effect gradient-45deg-deep-orange-orange" id="btn_formula_sqrt" onclick="mathField.cmd('\\sqrt');
                            mathField.focus();" style="width: 90px;">√</a>
                            <a class="btn waves-effect gradient-45deg-deep-orange-orange" id="btn_formula_pm" onclick="mathField.cmd('\\pm');
                            mathField.focus();" style="width: 90px;">∓</a>
                            <a class="btn waves-effect gradient-45deg-deep-orange-orange" id="btn_formula_mp" onclick="mathField.cmd('\\mp');
                            mathField.focus();" style="width: 90px;">±</a>
                            <a class="btn waves-effect gradient-45deg-deep-orange-orange" id="btn_formula_frac" onclick="mathField.cmd('\\frac');
                            mathField.focus();" style="width: 90px;">x/x</a>
                            <a class="btn waves-effect gradient-45deg-deep-orange-orange" id="btn_formula_pot" onclick="mathField.cmd('^');
                            mathField.focus();" style="width: 90px;">^</a>
                            <a class="btn waves-effect gradient-45deg-deep-orange-orange" id="btn_formula_pot" onclick="mathField.cmd('\\cdot');
                            mathField.focus();" style="width: 90px;">*</a>
                        </div>
                    </li>
                </ul>
                
            </div>
            <div class="row">
              <div class="input-field col s12" style="margin-bottom: 0px;">
                  <p>Opción A: 
                <span id='math-field-opcA' style="width: 100%; min-height:40px; margin-bottom: 0px;"></span></p>
              </div>
              <div class="input-field col s12" style="margin-top: 0px;">
                  <input id="latex-opcA" type="text" name="a" readonly>
              </div>
              <b><span style="color:#FF0000" class="label-input100" id="aopc_a"></span></b>
              <ul class="collapsible">
                    <li>
                        <div class="collapsible-header"><i class="material-icons">keyboard</i></div>
                        <div class="collapsible-body text-reset">
                            <a class="btn waves-effect gradient-45deg-deep-orange-orange" id="btn_formula_sqrt" onclick="mathField_opcA.cmd('\\sqrt');
                            mathField_opcA.focus();" style="width: 90px;">√</a>
                            <a class="btn waves-effect gradient-45deg-deep-orange-orange" id="btn_formula_pm" onclick="mathField_opcA.cmd('\\pm');
                            mathField_opcA.focus();" style="width: 90px;">∓</a>
                            <a class="btn waves-effect gradient-45deg-deep-orange-orange" id="btn_formula_mp" onclick="mathField_opcA.cmd('\\mp');
                            mathField_opcA.focus();" style="width: 90px;">±</a>
                            <a class="btn waves-effect gradient-45deg-deep-orange-orange" id="btn_formula_frac" onclick="mathField_opcA.cmd('\\frac');
                            mathField_opcA.focus();" style="width: 90px;">x/x</a>
                            <a class="btn waves-effect gradient-45deg-deep-orange-orange" id="btn_formula_pot" onclick="mathField_opcA.cmd('^');
                            mathField_opcA.focus();" style="width: 90px;">^</a>
                            <a class="btn waves-effect gradient-45deg-deep-orange-orange" id="btn_formula_pot" onclick="mathField_opcA.cmd('\\cdot');
                            mathField_opcA.focus();" style="width: 90px;">*</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="row">
              <div class="input-field col s12" style="margin-bottom: 0px;">
                  <p>Opción B: 
                <span id='math-field-opcB' style="width: 100%; min-height:40px; margin-bottom: 0px;"></span></p>
              </div>
              <div class="input-field col s12" style="margin-top: 0px;">
                  <input id="latex-opcB" type="text" name="b" readonly>
              </div>
              <b><span style="color:#FF0000" class="label-input100" id="aopc_b"></span></b>
              <ul class="collapsible">
                    <li>
                        <div class="collapsible-header"><i class="material-icons">keyboard</i></div>
                        <div class="collapsible-body text-reset">
                            <a class="btn waves-effect gradient-45deg-deep-orange-orange" id="btn_formula_sqrt" onclick="mathField_opcB.cmd('\\sqrt');
                            mathField_opcB.focus();" style="width: 90px;">√</a>
                            <a class="btn waves-effect gradient-45deg-deep-orange-orange" id="btn_formula_pm" onclick="mathField_opcB.cmd('\\pm');
                            mathField_opcB.focus();" style="width: 90px;">∓</a>
                            <a class="btn waves-effect gradient-45deg-deep-orange-orange" id="btn_formula_mp" onclick="mathField_opcB.cmd('\\mp');
                            mathField_opcB.focus();" style="width: 90px;">±</a>
                            <a class="btn waves-effect gradient-45deg-deep-orange-orange" id="btn_formula_frac" onclick="mathField_opcB.cmd('\\frac');
                            mathField_opcB.focus();" style="width: 90px;">x/x</a>
                            <a class="btn waves-effect gradient-45deg-deep-orange-orange" id="btn_formula_pot" onclick="mathField_opcB.cmd('^');
                            mathField_opcB.focus();" style="width: 90px;">^</a>
                            <a class="btn waves-effect gradient-45deg-deep-orange-orange" id="btn_formula_pot" onclick="mathField_opcB.cmd('\\cdot');
                            mathField_opcB.focus();" style="width: 90px;">*</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="row">
              <div class="input-field col s12" style="margin-bottom: 0px;">
                  <p>Opción C: 
                <span id='math-field-opcC' style="width: 100%; min-height:40px; margin-bottom: 0px;"></span></p>
              </div>
              <div class="input-field col s12" style="margin-top: 0px;">
                  <input id="latex-opcC" type="text" name="c" readonly>
              </div>
              <b><span style="color:#FF0000" class="label-input100" id="aopc_c"></span></b>
              <ul class="collapsible">
                    <li>
                        <div class="collapsible-header"><i class="material-icons">keyboard</i></div>
                        <div class="collapsible-body text-reset">
                            <a class="btn waves-effect gradient-45deg-deep-orange-orange" id="btn_formula_sqrt" onclick="mathField_opcC.cmd('\\sqrt');
                            mathField_opcC.focus();" style="width: 90px;">√</a>
                            <a class="btn waves-effect gradient-45deg-deep-orange-orange" id="btn_formula_pm" onclick="mathField_opcC.cmd('\\pm');
                            mathField_opcC.focus();" style="width: 90px;">∓</a>
                            <a class="btn waves-effect gradient-45deg-deep-orange-orange" id="btn_formula_mp" onclick="mathField_opcC.cmd('\\mp');
                            mathField_opcC.focus();" style="width: 90px;">±</a>
                            <a class="btn waves-effect gradient-45deg-deep-orange-orange" id="btn_formula_frac" onclick="mathField_opcC.cmd('\\frac');
                            mathField_opcC.focus();" style="width: 90px;">x/x</a>
                            <a class="btn waves-effect gradient-45deg-deep-orange-orange" id="btn_formula_pot" onclick="mathField_opcC.cmd('^');
                            mathField_opcC.focus();" style="width: 90px;">^</a>
                            <a class="btn waves-effect gradient-45deg-deep-orange-orange" id="btn_formula_pot" onclick="mathField_opcC.cmd('\\cdot');
                            mathField_opcC.focus();" style="width: 90px;">*</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="row">
              <div class="input-field col s12" style="margin-bottom: 0px;">
                  <p>Opción D: 
                <span id='math-field-opcD' style="width: 100%; min-height:40px; margin-bottom: 0px;"></span></p>
              </div>
              <div class="input-field col s12" style="margin-top: 0px;">
                  <input id="latex-opcD" type="text" name="d" readonly>
              </div>
              <b><span style="color:#FF0000" class="label-input100" id="aopc_d"></span></b>
              <ul class="collapsible">
                    <li>
                        <div class="collapsible-header"><i class="material-icons">keyboard</i></div>
                        <div class="collapsible-body text-reset">
                            <a class="btn waves-effect gradient-45deg-deep-orange-orange" id="btn_formula_sqrt" onclick="mathField_opcD.cmd('\\sqrt');
                            mathField_opcD.focus();" style="width: 90px;">√</a>
                            <a class="btn waves-effect gradient-45deg-deep-orange-orange" id="btn_formula_pm" onclick="mathField_opcD.cmd('\\pm');
                            mathField_opcD.focus();" style="width: 90px;">∓</a>
                            <a class="btn waves-effect gradient-45deg-deep-orange-orange" id="btn_formula_mp" onclick="mathField_opcD.cmd('\\mp');
                            mathField_opcD.focus();" style="width: 90px;">±</a>
                            <a class="btn waves-effect gradient-45deg-deep-orange-orange" id="btn_formula_frac" onclick="mathField_opcD.cmd('\\frac');
                            mathField_opcD.focus();" style="width: 90px;">x/x</a>
                            <a class="btn waves-effect gradient-45deg-deep-orange-orange" id="btn_formula_pot" onclick="mathField_opcD.cmd('^');
                            mathField_opcD.focus();" style="width: 90px;">^</a>
                            <a class="btn waves-effect gradient-45deg-deep-orange-orange" id="btn_formula_pot" onclick="mathField_opcD.cmd('\\cdot');
                            mathField_opcD.focus();" style="width: 90px;">*</a>
                        </div>
                    </li>
                </ul>
            </div>
                {{else if sesionA}}
                      <div class="row">
              <div class="input-field col s12" style="margin-bottom: 0px;">
                  <p>Pregunta: 
                <span id='math-field-pregunta' style="width: 100%; min-height:40px; margin-bottom: 0px;"></span></p>
              </div>
              <div class="input-field col s12" style="margin-top: 0px;">
                  <input id="latex-pregunta" type="text" name="pregunta" readonly="true">
              </div>
              <b><span style="color:#FF0000" class="label-input100" id="apre"></span></b>
              <ul class="collapsible">
                    <li>
                        <div class="collapsible-header"><i class="material-icons">keyboard</i></div>
                        <div class="collapsible-body text-reset">
                            <a class="btn waves-effect indigo lighten-1" id="btn_formula_sqrt" onclick="mathField.cmd('\\sqrt');
                            mathField.focus();" style="width: 90px;">√</a>
                            <a class="btn waves-effect indigo lighten-1" id="btn_formula_pm" onclick="mathField.cmd('\\pm');
                            mathField.focus();" style="width: 90px;">∓</a>
                            <a class="btn waves-effect indigo lighten-1" id="btn_formula_mp" onclick="mathField.cmd('\\mp');
                            mathField.focus();" style="width: 90px;">±</a>
                            <a class="btn waves-effect indigo lighten-1" id="btn_formula_frac" onclick="mathField.cmd('\\frac');
                            mathField.focus();" style="width: 90px;">x/x</a>
                            <a class="btn waves-effect indigo lighten-1" id="btn_formula_pot" onclick="mathField.cmd('^');
                            mathField.focus();" style="width: 90px;">^</a>
                            <a class="btn waves-effect indigo lighten-1" id="btn_formula_pot" onclick="mathField.cmd('\\cdot');
                            mathField.focus();" style="width: 90px;">*</a>
                        </div>
                    </li>
                </ul>
                
            </div>
            <div class="row">
              <div class="input-field col s12" style="margin-bottom: 0px;">
                  <p>Opción A: 
                <span id='math-field-opcA' style="width: 100%; min-height:40px; margin-bottom: 0px;"></span></p>
              </div>
              <div class="input-field col s12" style="margin-top: 0px;">
                  <input id="latex-opcA" type="text" name="a" readonly>
              </div>
              <b><span style="color:#FF0000" class="label-input100" id="aopc_a"></span></b>
              <ul class="collapsible">
                    <li>
                        <div class="collapsible-header"><i class="material-icons">keyboard</i></div>
                        <div class="collapsible-body text-reset">
                            <a class="btn waves-effect indigo lighten-1" id="btn_formula_sqrt" onclick="mathField_opcA.cmd('\\sqrt');
                            mathField_opcA.focus();" style="width: 90px;">√</a>
                            <a class="btn waves-effect indigo lighten-1" id="btn_formula_pm" onclick="mathField_opcA.cmd('\\pm');
                            mathField_opcA.focus();" style="width: 90px;">∓</a>
                            <a class="btn waves-effect indigo lighten-1" id="btn_formula_mp" onclick="mathField_opcA.cmd('\\mp');
                            mathField_opcA.focus();" style="width: 90px;">±</a>
                            <a class="btn waves-effect indigo lighten-1" id="btn_formula_frac" onclick="mathField_opcA.cmd('\\frac');
                            mathField_opcA.focus();" style="width: 90px;">x/x</a>
                            <a class="btn waves-effect indigo lighten-1" id="btn_formula_pot" onclick="mathField_opcA.cmd('^');
                            mathField_opcA.focus();" style="width: 90px;">^</a>
                            <a class="btn waves-effect indigo lighten-1" id="btn_formula_pot" onclick="mathField_opcA.cmd('\\cdot');
                            mathField_opcA.focus();" style="width: 90px;">*</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="row">
              <div class="input-field col s12" style="margin-bottom: 0px;">
                  <p>Opción B: 
                <span id='math-field-opcB' style="width: 100%; min-height:40px; margin-bottom: 0px;"></span></p>
              </div>
              <div class="input-field col s12" style="margin-top: 0px;">
                  <input id="latex-opcB" type="text" name="b" readonly>
              </div>
                <b><span style="color:#FF0000" class="label-input100" id="aopc_b"></span></b>

              <ul class="collapsible">
                    <li>
                        <div class="collapsible-header"><i class="material-icons">keyboard</i></div>
                        <div class="collapsible-body text-reset">
                            <a class="btn waves-effect indigo lighten-1" id="btn_formula_sqrt" onclick="mathField_opcB.cmd('\\sqrt');
                            mathField_opcB.focus();" style="width: 90px;">√</a>
                            <a class="btn waves-effect indigo lighten-1" id="btn_formula_pm" onclick="mathField_opcB.cmd('\\pm');
                            mathField_opcB.focus();" style="width: 90px;">∓</a>
                            <a class="btn waves-effect indigo lighten-1" id="btn_formula_mp" onclick="mathField_opcB.cmd('\\mp');
                            mathField_opcB.focus();" style="width: 90px;">±</a>
                            <a class="btn waves-effect indigo lighten-1" id="btn_formula_frac" onclick="mathField_opcB.cmd('\\frac');
                            mathField_opcB.focus();" style="width: 90px;">x/x</a>
                            <a class="btn waves-effect indigo lighten-1" id="btn_formula_pot" onclick="mathField_opcB.cmd('^');
                            mathField_opcB.focus();" style="width: 90px;">^</a>
                            <a class="btn waves-effect indigo lighten-1" id="btn_formula_pot" onclick="mathField_opcB.cmd('\\cdot');
                            mathField_opcB.focus();" style="width: 90px;">*</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="row">
              <div class="input-field col s12" style="margin-bottom: 0px;">
                  <p>Opción C: 
                <span id='math-field-opcC' style="width: 100%; min-height:40px; margin-bottom: 0px;"></span></p>
              </div>
              <div class="input-field col s12" style="margin-top: 0px;">
                  <input id="latex-opcC" type="text" name="c" readonly>
              </div>
              <b><span style="color:#FF0000" class="label-input100" id="aopc_c"></span></b>
              <ul class="collapsible">
                    <li>
                        <div class="collapsible-header"><i class="material-icons">keyboard</i></div>
                        <div class="collapsible-body text-reset">
                            <a class="btn waves-effect indigo lighten-1" id="btn_formula_sqrt" onclick="mathField_opcC.cmd('\\sqrt');
                            mathField_opcC.focus();" style="width: 90px;">√</a>
                            <a class="btn waves-effect indigo lighten-1" id="btn_formula_pm" onclick="mathField_opcC.cmd('\\pm');
                            mathField_opcC.focus();" style="width: 90px;">∓</a>
                            <a class="btn waves-effect indigo lighten-1" id="btn_formula_mp" onclick="mathField_opcC.cmd('\\mp');
                            mathField_opcC.focus();" style="width: 90px;">±</a>
                            <a class="btn waves-effect indigo lighten-1" id="btn_formula_frac" onclick="mathField_opcC.cmd('\\frac');
                            mathField_opcC.focus();" style="width: 90px;">x/x</a>
                            <a class="btn waves-effect indigo lighten-1" id="btn_formula_pot" onclick="mathField_opcC.cmd('^');
                            mathField_opcC.focus();" style="width: 90px;">^</a>
                            <a class="btn waves-effect indigo lighten-1" id="btn_formula_pot" onclick="mathField_opcC.cmd('\\cdot');
                            mathField_opcC.focus();" style="width: 90px;">*</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="row">
              <div class="input-field col s12" style="margin-bottom: 0px;">
                  <p>Opción D: 
                <span id='math-field-opcD' style="width: 100%; min-height:40px; margin-bottom: 0px;"></span></p>
              </div>
              <div class="input-field col s12" style="margin-top: 0px;">
                  <input id="latex-opcD" type="text" name="d" readonly>
              </div>
              <b><span style="color:#FF0000" class="label-input100" id="aopc_d"></span></b>
              <ul class="collapsible">
                    <li>
                        <div class="collapsible-header"><i class="material-icons">keyboard</i></div>
                        <div class="collapsible-body text-reset">
                            <a class="btn waves-effect indigo lighten-1" id="btn_formula_sqrt" onclick="mathField_opcD.cmd('\\sqrt');
                            mathField_opcD.focus();" style="width: 90px;">√</a>
                            <a class="btn waves-effect indigo lighten-1" id="btn_formula_pm" onclick="mathField_opcD.cmd('\\pm');
                            mathField_opcD.focus();" style="width: 90px;">∓</a>
                            <a class="btn waves-effect indigo lighten-1" id="btn_formula_mp" onclick="mathField_opcD.cmd('\\mp');
                            mathField_opcD.focus();" style="width: 90px;">±</a>
                            <a class="btn waves-effect indigo lighten-1" id="btn_formula_frac" onclick="mathField_opcD.cmd('\\frac');
                            mathField_opcD.focus();" style="width: 90px;">x/x</a>
                            <a class="btn waves-effect indigo lighten-1" id="btn_formula_pot" onclick="mathField_opcD.cmd('^');
                            mathField_opcD.focus();" style="width: 90px;">^</a>
                            <a class="btn waves-effect indigo lighten-1" id="btn_formula_pot" onclick="mathField_opcD.cmd('\\cdot');
                            mathField_opcD.focus();" style="width: 90px;">*</a>
                        </div>
                    </li>
                </ul>
            </div>
                {{/if}}
           <div class="row">
              <div class="input-field col s12">
                <select name="res_cor" id="res_cor">
                                <option value="" disabled selected>Selecciona La respuesta correcta</option>
                                <option value="a">Iniciso a</option>
                                <option value="b">Iniciso b</option>
                                <option value="c">Iniciso c</option>
                                <option value="d">Iniciso d</option>
                            </select>
              </div>
            </div>
            <b><span style="color:#FF0000" class="label-input100" id="aresc"></span></b>
            <div class="row">
              <div class="input-field col s12">
                <select name="tema" id="tema">
                                <option value="0" disabled selected>Selecciona tema</option>
                                {{#each temas}}
                                <option value={{id_tem}}>{{nom_tem}}</option>
                                {{/each}}
                            </select>
                            <b><span style="color:#FF0000" class="label-input100" id="atem"></span></b>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <select name="dificultad" id="dificultad">
                                <option value="" disabled selected>Selecciona dificultad</option>
                                <option value="1">Fácil</option>
                                <option value="2">Normal</option>
                                <option value="3">Díficil</option>
                </select>
                <b><span style="color:#FF0000" class="label-input100" id="adif"></span></b>
                {{#if sesionP}}
                
                       <button class="btn waves-effect waves-light  gradient-45deg-deep-orange-orange" name="action" id="sendprex">Agregar

                                <i class="material-icons right">send</i>
                      </button>
                {{else if sesionAd}}
                      <button class="btn waves-effect waves-light  gradient-45deg-deep-orange-orange" name="action" id="sendprex">Agregar
                                <i class="material-icons right">send</i>
                      </button>
                {{else if sesionA}}
                      <button class="btn waves-effect waves-light  gradient-45deg-deep-orange-orange" name="action" id="sendprex">Agregar
                                <i class="material-icons right">send</i>
                      </button>
                {{/if}}
             
                         
              </div>
              <div class="row">
                  <p id="avisos"></p>
              </div>
            </div>
          <!--</form>-->
        </div>
      </div>
        <div id="teclado_modal" class="modal bottom-sheet">
    <div class="modal-content">
        <div class="col s12 m6 l6">
        <span id="math-field" class="width-90"></span>
        <span id="latex"></span><br><br>
        
    </div>
      <br><br><br>
      </div>
      <div class="col s12 m6 l6">
          <a class="btn waves-effect waves-light indigo lighten-1" href="javascript:void(0);">Aceptar</a>
      </div>
    </div>
  </div>
            </div>
            <div class="col s12 m6 l6">
                <div class="card card card-default scrollspy">
                    <img src="/images_algebra/parallax9.png" width="100%"><br><br>
                    <img src="/images_algebra/parallax10.jpg" width="100%"><br><br>
                    <img src="/images_algebra/parallax7.png" width="100%"><br><br>
                    <img src="/images_algebra/parallax11.jpg" width="100%">
                </div>
            </div>
            
    </div>
    </div>
    <div class="col s12">
        <div class="container">
            
            <div class="section app-file-manager-wrapper">
                <!-- File Manager app overlay -->
                <div class="app-file-overlay" id="show2"> </div>
                <!-- /File Manager app overlay -->
                <!-- sidebar left start -->
                <div class="sidebar-left">
                    <!--left sidebar of file manager start -->
                    <form name="broswequestion" id="broswequestion" 
                    method="POST" action="/web/preguntasx">
                        <select id="broswdif">
                            <option value="all">Todas las dificultades</option>
                            <option value="1">Fácil</option>
                            <option value="2">Normal</option>
                            <option value="3">Díficil</option>
                        </select>
                        <select id="broswtem">
                            <option value="all">Todos los temas</option>
                            {{#each temas}}
                                <option value="{{id_tem}}">{{nom_tem}}</option>
                            {{/each}}
                        </select>
                {{#if sesionP}}
                        <button type="submit" class="btn waves-effect waves-light gradient-45deg-deep-orange-orange" href="javascript:void(0);" id="broswe">Buscar</button>
                {{else if sesionAd}}
                        <button type="submit" class="btn waves-effect waves-light green lighten-1" href="javascript:void(0);" id="broswe">Buscar</button>
                {{else if sesionA}}
                        <button type="submit" class="btn waves-effect waves-light indigo lighten-1" href="javascript:void(0);" id="broswe">Buscar</button>
                {{/if}}
                    </form>    
                    <!--left sidebar of file manager start -->
                </div>
                <!--/ sidebar left end -->
                <!-- content-right start -->
                <div class="content-right">
                    <!-- file manager main content start -->
                    <div class="app-file-area">
                        <!-- File App Content Area -->
                        <!-- App File Header Starts -->
                        <div class="app-file-header">
                            <!-- Header search bar starts -->
                            <div class="sidebar-toggle show-on-medium-and-down
                                mr-1 ml-1">
                                <i class="material-icons">menu</i>
                            </div>
                            
                            <!-- Header search bar Ends -->

                        </div>
                        <!-- App File Header Ends -->

                        <!-- App File Content Starts -->
                        <div class="app-file-content ps" id="div_contenedor_pre" style="height: 300px;" >
                            <h6 class="font-weight-700 mb-3">Preguntas</h6>
                            

                            <!-- App File - Recent Accessed Files Section Starts -->
                            <div class="row app-file-files" id="contenedor_preguntas">
                                {{#each preguntas}}
                                <div id="fg">
                                    <div class="col xl3 l6 m3 s12" style="height: 120px;" onclick="setVentanaPre({{id_bpr}},'{{con_pre}}','{{opc_a}}','{{opc_b}}','{{opc_c}}','{{opc_d}}')">
                                    <div class="card box-shadow-none mb-1
                                        app-file-info">
                                        <div class="card-content">
                                            <div class="app-file-content-logo
                                                grey lighten-4">
                                                <div class="fonticon">
                                                    <i class="material-icons">more_vert</i>
                                                </div>
                                                
                                                <div
                                                class="app-file-recent-details">
                                                <div class="app-file-name
                                                    font-weight-700"><span class="mathquillEstatic">{{con_pre}}</span></div>
                                            </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="" id="prueba">
                                    
                                </div>

                                </div>

                              
                                
                                {{/each}}
                                <!-- App File - Recent Accessed Files Section Ends -->
                                <div class="ps__rail-x" style="left: 0px;
                                    bottom:
                                    0px;"><div class="ps__thumb-x" tabindex="0"
                                        style="left: 0px; width: 0px;"></div></div><div
                                    class="ps__rail-y" style="top: 0px; right:
                                    0px;"><div class="ps__thumb-y" tabindex="0"
                                        style="top: 0px; height: 0px;"></div></div></div>
                        </div>

                        <!-- file manager main content end  -->
                    </div>
                    <!-- content-right end -->
                    <!-- App File sidebar - Right section Starts -->
                    <div class="app-file-sidebar-info ps " id="show">
                        
                        <div class="card box-shadow-none m-0 pb-1">
                            <div class="card-header display-flex
                                justify-content-between align-items-center">
                                <h6 class="m-0">Pregunta</h6>
                                <div class="app-file-action-icons display-flex
                                    align-items-center">
                                    <i class="material-icons mr-10">delete</i>
                                    <i class="material-icons close-icon">close</i>
                                </div>
                            </div>
                            <div class="card-content">
                                <div class="tab-content">
                                    <div class="details-tab active"
                                        id="details">
                                        <div class="display-flex
                                            align-items-center
                                            flex-column pb-2 pt-4">
                                            <img
                                                src="app-assets/images/icon/question.png"
                                                alt="PDF" height="42" width="35"
                                                class="mt-5 mb-5">
                                        </div>
                                        <div class="divider mt-5 mb-5"></div>
                                        <div class="pt-6">
                                           
                                                <div class="" id="ventanaMod1">

                                            </div>
                                            <ul class="collapsible" id="ventanaModTec1">
                    
                                            </ul><div class="" id="ventanaMod2">

                                            </div>
                                            <ul class="collapsible" id="ventanaModTec2">
                    
                                            </ul>
                                            <div class="" id="ventanaMod3">

                                            </div>
                                            <ul class="collapsible" id="ventanaModTec3">
                    
                                            </ul>
                                            <div class="" id="ventanaMod4">

                                            </div>
                                            <ul class="collapsible" id="ventanaModTec4">
                    
                                            </ul>
                                            <div class="" id="ventanaMod5">

                                            </div>
                                            <ul class="collapsible" id="ventanaModTec5">
                    
                                            </ul>
                                             <div class="row">
              <div class="input-field col s12">
                <select name="res_cor" id="res_cor-mod">
                                <option value="" disabled selected>Selecciona La respuesta correcta</option>
                                <option value="a">Iniciso a</option>
                                <option value="b">Iniciso b</option>
                                <option value="c">Iniciso c</option>
                                <option value="d">Iniciso d</option>
                            </select>
              </div>
            </div>
            <b><span style="color:#FF0000" class="label-input100" id="aresc-mod"></span></b>
            <div class="row">
              <div class="input-field col s12">
                <select name="tema" id="tema-mod">
                                <option value="0" disabled selected>Selecciona tema</option>
                                {{#each temas}}
                                <option value={{id_tem}}>{{nom_tem}}</option>
                                {{/each}}
                            </select>
                            <b><span style="color:#FF0000" class="label-input100" id="atem-mod"></span></b>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <select name="dificultad" id="dificultad-mod">
                                <option value="" disabled selected>Selecciona dificultad</option>
                                <option value="1">Fácil</option>
                                <option value="2">Normal</option>
                                <option value="3">Díficil</option>
                </select>
                <b><span style="color:#FF0000" class="label-input100" id="adif-mod"></span></b>
                                            
               </div>
                            </div>
                                </div>
                            </div>
                            <button id="sendpremod" class="btn waves-effect waves-light  gradient-45deg-deep-orange-orange" name="action">Agregar
                            <i class="material-icons right">send</i>
                            </button>
                                <script>
                                let enviar2=document.getElementById('sendpremod');
                                </script>
                      <div class="prueba2" id="prueba2">

                      </div>
                      <script>
                          enviar2.addEventListener('click', (e)=>{
                                if(!retronoMod()){
                                    e.preventDefault(); 
                                }
                            }, false);
                      </script>                           <!--<span class="app-file-label">Info</span>
                                            <div class="display-flex
                                                justify-content-between
                                                align-items-center mt-6">

                                                <input type="hidden" id="id_bpr" name="id_bpr_name">
                                                <p id="con_pre" contenteditable="true">Pregunta: </p>
                                                <p class="font-weight-700"> 2 - 1</p>
                                            </div>
                                            <div class="display-flex
                                                justify-content-between
                                                align-items-center mt-6">
                                                <p>Opciones</p>
                                                <a href="javascript:void(0);">
                                                    <i class="material-icons">update</i></a>
                                            </div>
                                            <div class="display-flex
                                                justify-content-between
                                                align-items-center mt-6">
                                               <b> <p class="font-weight-700" contenteditable="true" id="opc_a" name="opc_a_name">Opcion a</p></b>
                                            </div>
                                            <div class="display-flex
                                                justify-content-between
                                                align-items-center mt-6">
                                               <b><p class="font-weight-700" contenteditable="true" id="opc_b" name="opc_b_name" >Opcion b</p></b> 
                                            </div>
                                            <div class="display-flex
                                                justify-content-between
                                                align-items-center mt-6">
                                               <b> <p class="font-weight-700" contenteditable="true" id="opc_c" name="opc_c_name">Opcion c</p></b>
                                            </div>
                                            <div class="display-flex
                                                justify-content-between
                                                align-items-center mt-6">
                                                <strong><p class="font-weight-700" contenteditable="true" id="opc_d" name="opc_d_name">Opcion d</p></strong>
                                            </div>
                                            <div class="display-flex
                                                justify-content-between
                                                align-items-center mt-6">
                                                <button type="update" class="btn gradient-45deg-deep-orange-orange" onclick="updatePre(document.getElementById('id_bpr').value,document.getElementById('con_pre').innerText,document.getElementById('opc_a').innerText,document.getElementById('opc_b').innerText,document.getElementById('opc_c').innerText,document.getElementById('opc_d').innerText)">Modificar</button>
                                            </div>-->
                            <div class="ps__rail-x" style="left: 0px; bottom:
                                0px;"><div
                                    class="ps__thumb-x" tabindex="0"
                                    style="left: 0px;
                                    width: 0px;"></div></div><div
                                class="ps__rail-y"
                                style="top: 0px; right: 0px;"><div
                                    class="ps__thumb-y"
                                    tabindex="0" style="top: 0px; height: 0px;"></div></div></div>
                        <!-- App File sidebar - Right section Ends -->
                        <br><br><br><br><br>
                    </div>
                    <!-- START RIGHT SIDEBAR NAV -->
                    <aside id="right-sidebar-nav">
                        <div id="slide-out-right" class="slide-out-right-sidenav
                            sidenav
                            rightside-navigation right-aligned">
                            <div class="row">
                                <div class="slide-out-right-title">
                                    <div class="col s12 border-bottom-1 pb-0
                                        pt-1">
                                        <div class="row">
                                            <div class="col s2 pr-0 center">
                                                <i class="material-icons
                                                    vertical-text-middle"><a
                                                        href="#"
                                                        class="sidenav-close">clear</a></i>
                                            </div>
                                            <div class="col s10 pl-0">
                                                <ul class="tabs">
                                                    <li class="tab col s4 p-0">
                                                        <a href="#reportes"
                                                            class="active">
                                                            <span>Reportes</span>
                                                        </a>
                                                    </li>
                                                    <li class="indicator"
                                                        style="left:
                                                        0px; right: 188px;"></li></ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="slide-out-right-body row pl-3 ps
                                    ps--active-y">
                                    <div id="reportes" class="col s12 pb-0
                                        active">
                                        <div class="collection border-none
                                            mb-0">
                                            <ul class="collection
                                                right-sidebar-chat p-0
                                                mb-0">
                                                <a href="javascript:void(0);">
                                                    <li class="collection-item
                                                        right-sidebar-chat-item
                                                        display-flex avatar
                                                        pl-5 pb-0"
                                                        data-target="slide-out-chat">
                                                        <i
                                                            class="material-icons">chrome_reader_mode</i>
                                                    </span>
                                                    <div class="user-content">
                                                        <h6
                                                            class="line-height-0">Reporte
                                                            1IV2</h6>
                                                    </div>
                                                    <span
                                                        class="secondary-content
                                                        medium-small">29-02-20</span>
                                                </li>
                                            </a>
                                            <a href="javascript:void(0);">
                                                <li class="collection-item
                                                    right-sidebar-chat-item
                                                    sidenav-trigger display-flex
                                                    avatar
                                                    pl-5 pb-0"
                                                    data-target="slide-out-chat">
                                                    <i class="material-icons">chrome_reader_mode</i>
                                                </span>
                                                <div class="user-content">
                                                    <h6 class="line-height-0">Reporte
                                                        1IV3</h6>
                                                </div>
                                                <span class="secondary-content
                                                    medium-small">28-02-20</span>
                                            </li>
                                        </a>
                                    </ul>
                                </div>
                            </div>/*/

                            <div class="ps__rail-x" style="left: 0px; bottom:
                                0px;"><div class="ps__thumb-x" tabindex="0"
                                    style="left: 0px; width: 0px;"></div></div><div
                                class="ps__rail-y" style="top: 0px; height:
                                624px; right: 0px;"><div class="ps__thumb-y"
                                    tabindex="0" style="top: 0px; height:
                                    308px;"></div></div></div>
                    </div>
                </div>

            </aside>
            <!-- END RIGHT SIDEBAR NAV -->
        </div>
        <div class="content-overlay"></div>
        
    </div>
</div></div>



</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    |                       <script src="/mathquill/mathquill.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems);
  });
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.dropdown-trigger');
    var instances = M.Dropdown.init(elems);
  });
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.modal');
    var instances = M.Modal.init(elems,{dismissible: false});
  });
</script>

<!-- Tecladito -->

<script>
var mathFieldSpan = document.getElementById('math-field-pregunta');
var mathFieldSpanA = document.getElementById('math-field-opcA');
var mathFieldSpanB = document.getElementById('math-field-opcB');
var mathFieldSpanC = document.getElementById('math-field-opcC');
var mathFieldSpanD = document.getElementById('math-field-opcD');
var latexSpan = document.getElementById('latex-pregunta');

var latexSpanA = document.getElementById('latex-opcA');
var latexSpanB = document.getElementById('latex-opcB');
var latexSpanC = document.getElementById('latex-opcC');
var latexSpanD = document.getElementById('latex-opcD');

var MQ = MathQuill.getInterface(2); // for backcompat
var mathField = MQ.MathField(mathFieldSpan, {
  spaceBehavesLikeTab: true, // configurable
  handlers: {
    edit: function() { // useful event handlers
      latexSpan.value = mathField.latex(); // simple API
    }
  }
});

var mathField_opcA = MQ.MathField(mathFieldSpanA, {
  spaceBehavesLikeTab: true, // configurable
  handlers: {
    edit: function() { // useful event handlers
      latexSpanA.value = mathField_opcA.latex(); // simple API
    }
  }
});
var mathField_opcB = MQ.MathField(mathFieldSpanB, {
  spaceBehavesLikeTab: true, // configurable
  handlers: {
    edit: function() { // useful event handlers
      latexSpanB.value = mathField_opcB.latex(); // simple API
    }
  }
});
var mathField_opcC = MQ.MathField(mathFieldSpanC, {
  spaceBehavesLikeTab: true, // configurable
  handlers: {
    edit: function() { // useful event handlers
      latexSpanC.value = mathField_opcC.latex(); // simple API
    }
  }
});
var mathField_opcD = MQ.MathField(mathFieldSpanD, {
  spaceBehavesLikeTab: true, // configurable
  handlers: {
    edit: function() { // useful event handlers
      latexSpanD.value = mathField_opcD.latex(); // simple API
    }
  }
});
let contenidoPregunta = document.getElementsByClassName('mathquillEstatic');
for(let index = 0; index < contenidoPregunta.length; index++) {
    MQ.StaticMath(contenidoPregunta.item(index));
}
</script>

<script>
let enviar=document.getElementById('sendprex'); 

function retrono(){
  let pre=  document.getElementById('latex-pregunta').value;
  
  let res_cor=  document.getElementById('res_cor').value;
  let opc_a=document.getElementById('latex-opcA').value
  let opc_b=document.getElementById('latex-opcB').value
  let opc_c=document.getElementById('latex-opcC').value
  let opc_d= document.getElementById('latex-opcD').value
  let id_tem= document.getElementById('tema').value
  let id_dif= document.getElementById('dificultad').value
  

    /*-----------------------------*/

    let vpre=validarPre(pre);
    if(vpre==true){
        document.getElementById('apre').innerHTML=""; 
        let vopc_a=validarPreOPC(opc_a);
        if(vopc_a==true){
            document.getElementById('aopc_a').innerHTML=""; 
            let vopc_b=validarPreOPC(opc_b);
            if(vopc_b==true){
                document.getElementById('aopc_b').innerHTML=""; 
                let vopc_c=validarPreOPC(opc_c);
                if(vopc_c==true){
                    document.getElementById('aopc_c').innerHTML=""; 
                    let vopc_d=validarPreOPC(opc_d);
                    if(vopc_d==true){
                        document.getElementById('aopc_d').innerHTML=""; 
                        let vtem= validarTem(id_tem);
                        if(vtem==true){
                            document.getElementById('atem').innerHTML=""; 
                            let vdif=validarDif(id_dif);
                            if(vdif==true){
                                
                                let vresc=validarResCor(res_cor);
                                if(vresc==true){
                                    document.getElementById('aresc').innerHTML=""; 
                                    carga2();
                                }else{
                                    document.getElementById('aresc').innerHTML=vresc; 
                                }
                                
                            }else{
                                document.getElementById('adif').innerHTML=vdif; 
                                return false;
                            }
                        }else{
                            document.getElementById('atem').innerHTML=vtem; 
                            return false;
                        }
                    }else{
                        document.getElementById('aopc_d').innerHTML=vopc_d; 
                        return false;
                    }
                }else{
                    document.getElementById('aopc_c').innerHTML=vopc_c; 
                    return false;
                }
            }else{
                
                document.getElementById('aopc_b').innerHTML=vopc_b; 
                return false;
            }
        }else{
            document.getElementById('aopc_a').innerHTML=vopc_a; 
            return false;
        }
    }else{
        document.getElementById('apre').innerHTML=vpre; 
        return false;
    }
}
    

function validarPre(pre){
    if(pre.length>150||pre.length<1){
        return "*Nombre de la pregunta entre 1-150 caracteres"; 
    }else{
        return true; 
    } 
}
function validarPreOPC(opc_pre){
    if(opc_pre.length>50||opc_pre.length<1){
        return "*Inciso de la pregunta entre 1-50 caracteres"; 
    }else{
        return true; 
    } 
}
function validarTem(tem){
   let bol=false;
    var myOpts = document.getElementById('tema').options;
        var array = [];
        for (var i = 0; i < myOpts.length; i++) {
            array.push(i);
             if(parseInt(tem-1)!=array[i]){
            }else{
                bol=true;
            }   
        }
        if(bol==true){
            return true;
        }else{
            return "*Tema invalido";
        }
}
function validarDif(dif){
     
    if(dif!='1'&&dif!='2'&&dif!='3'){
        return '*Dificultad invalida'; 
    }else{
        return true; 
    } 
}
function validarResCor(resc){
    if(resc!='a'&&resc!='b'&&resc!='c'&&resc!='d'){
        return '*Selecione una respuesta Correcta'; 
    }else{
        return true; 
    } 
}

document.getElementById('sendprex').addEventListener('click', (e)=>{
    if(!retrono()){
        e.preventDefault(); 
    }
}, false); 



function carga(){
    let pre1=  document.getElementById('latex-pregunta').value
  let res_cor1=  document.getElementById('res_cor').value
  let opc_a1=document.getElementById('latex-opcA').value
  let opc_b1=document.getElementById('latex-opcB').value
  let opc_c1=document.getElementById('latex-opcC').value
  let opc_d1= document.getElementById('latex-opcD').value
  let id_tem1= document.getElementById('tema').value
  
  let id_dif1= document.getElementById('dificultad').value
    document.getElementById('hidem').click();
    addPre(pre1,res_cor1,opc_a1,opc_b1,opc_c1,opc_d1,id_tem1,id_dif1);
};
function carga2(){
    document.getElementById('hidem2').click();
};

</script>
